venv
activate
*.pyc
*.class
results
wandererResults
fitnessBreederResults
data
partialResults
oldResults
files
dissertation/l4proj.aux
dissertation/l4proj.bbl
dissertation/l4proj.bcf
dissertation/l4proj.blg
dissertation/l4proj.glg
dissertation/l4proj.glo
dissertation/l4proj.gls
dissertation/l4proj.ist
dissertation/l4proj.log
dissertation/l4proj.out
dissertation/l4proj.run.xml
dissertation/l4proj.toc
